/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */




a.navbar-brand[b-o0v2u7tqqm] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white;
    background-color: white;
}

a[b-o0v2u7tqqm] {
  color: white;
}

.btn-primary[b-o0v2u7tqqm] {
    color: #fff;
    background-color: #FC841F;
    border-color: #FC841F;
}



.nav-pills .nav-link.active[b-o0v2u7tqqm], .nav-pills .show > .nav-link[b-o0v2u7tqqm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-o0v2u7tqqm] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-o0v2u7tqqm] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-o0v2u7tqqm] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-o0v2u7tqqm] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-o0v2u7tqqm] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.progress-container[b-o0v2u7tqqm] {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card[b-o0v2u7tqqm] {
    border: none;
    border-radius: 12px;
}

.list-group-item[b-o0v2u7tqqm] {
    border-color: rgba(0,0,0,0.05);
}